# Miscellaneous
alias ..='cd ..'
alias ls='ls -AFG'
alias ca='color-cat'

# Easier use of trash
alias t='trash'

# Hi-q convert with ffmpeg
alias ffhiq='/Users/lallemand/src/sh/hi-q-convert-with-ffmpeg.sh'

# Open ranger in 'stay in last visited dir' mode
alias r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# Open neomutt in downloads folder
alias mutt='cd ~/Downloads; neomutt; cd -'

# Download WeTransfer files with wget
alias wetransfer='wget –user-agent'

# Use GNU sort
alias sort='gsort'

# Bat
alias bat="bat --theme=TwoDark"

# Use GNU cut
alias cut="gcut"

# Use GNU tail
alias tail="gtail"

# Use GNU mktemp
alias mktemp="gmktemp"

# xxd
alias xxd="xxd -g 1"

# Translation shortcuts
alias tee="trans en:en"
alias tff="trans fr:fr"
alias tii="trans it:it"
alias tef="trans en:fr"
alias tfe="trans fr:en"
alias tif="trans it:fr"
alias tfi="trans fr:it"
