# Miscellaneous
alias ..='cd ..'
alias ls='ls -AFG'
alias ca='color-cat'

# Easier use of trash
alias t='trash'

# Hi-q convert with ffmpeg
alias ffhiq='/Users/lallemand/src/sh/hi-q-convert-with-ffmpeg.sh'

# Open ranger in 'stay in last visited dir' mode
alias r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# Open neomutt in downloads folder
alias mutt='cd ~/Downloads; neomutt; cd -'

# Download WeTransfer files with wget
alias wetransfer='wget –user-agent'

# Use GNU sort
alias sort='gsort'
