priority -50

# --------
# Sections
# --------
snippet t1 "#"
# —————— $0
endsnippet

snippet t2 "##"
##   ––– $0
endsnippet

snippet t3 "##"
###    – $0
endsnippet

snippet t4 "####"
####      • $0
endsnippet

# --------
# Comments
# --------

snippet com "Comment"
[]($0)
endsnippet

# vim:ft=snippets:
