priority -50

# -----
# Kirby
# -----
snippet ksnip "Kirby snippet"
<?php snippet('$0') ?>
endsnippet

snippet kimg "Kirby image"
<img ${3:class="$4"} src="<?php echo url('assets/images/$1') ?>" alt="$2">
endsnippet

# -------
# General
# -------
snippet echo "Inline echo"
<?php echo $0 ?>
endsnippet
snippet php "Inline php"
<?php $0 ?>
endsnippet

# vim:ft=snippets:
